@import 'index.scss' ;

.footer {
  @extend .flex-center-center;
  flex-direction: column;
  background-color: grey;
  min-height: 10vh;
  color: aliceblue;

  &__title {
    margin-bottom: 10px;
  }
  &__links{
    color: black;
  }
}
.footer-links{
  &__link{
    color: black;
    margin-right: 5px;
  }
}