.mr1{
  margin-right: 1rem;
}
.pl1{
  padding-left: 1rem;
}
.mt1{
  margin-top: 1rem;
}
.brand-logo.right{
  &:hover{
    cursor:pointer;
  }
}
.left.hide-on-med-and-down a{
  &:hover{
    color:white;
  }
}
.mb2{
  margin-bottom: 2rem;
}